{% extends base %}

<!-- goes in body -->
{% block postamble %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}

<!-- goes in body -->
{% block contents %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="log#b" target="_blank">Log</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="-/config">Settings</a>
        </li>
    </ul>
    </div>
</nav>

<div class="container-lg">
    <h4 class="display-4 mb-4">Uncovering hard instances</h4>

    <div class="jumbotron py-3">
        <p class="lead"><strong>Guidelines</strong>:</p>
        <ul class="lead">
            <li>The dataset should be in the format (<small><i>n_instances</i>, <i>n_features</i></small>)</li>
            <li><strong>Do not</strong> include any index column. Instances will be indexed in order, starting from
                <strong>1</strong></li>
            <li><strong>The last column</strong> must contain the classes of the instances</li>
            <li>Categorical features should be handled previously</li>
            <li>The only accepted file format is <mark>csv</mark></li>
            <li>Do not reload the page after the analysis has started</li>
        </ul>
    </div>

    <div class="row justify-content-md-start mb-4 mt-4">
        <div class="col-md-auto">
            <p class="lead ml-3">Input dataset:</p>
        </div>
        <div class="col-md-auto">
            {{ embed(roots.load) }}
        </div>
        <div class="col-md-auto invisible">
            {{ embed(roots.hidden) }}
        </div>
    </div>

    <div class="row justify-content-md-start">
        <div class="col-md-auto mr-5">
            {{ embed(roots.run) }}
        </div>
        <div class="col-md-auto">
            {{ embed(roots.stop) }}
        </div>
    </div>

    <div class="row justify-content-md-start lead mt-2 mb-5">
        <p class="col-lg-auto">
            {{ embed(roots.info) }}
        </p>
    </div>

    <div class="card-deck mb-5">
        <div class="card border-light">
            <h5 class="card-header">Current results</h5>
            <div class="card-body">
    <!--            <h5 class="card-title">Special title treatment</h5>-->
                <p class="card-text">Click the button below when the analysis is finished to download the output
                    files. The metadata file and the ISA result files are included, along with the serialized output
                    object.</p>
                <div class="d-flex justify-content-center">{{ embed(roots.data) }}</div>
            </div>
          </div>
        <div class="card border-light">
            <h5 class="card-header">Load previous runs</h5>
            <div class="card-body">
        <!--            <h5 class="card-title">Special title treatment</h5>-->
                <p class="card-text">To view previous results, upload the serialized object file
                    <mark>output.pkl</mark>.</p>
                <div class="d-flex justify-content-center mb-3">{{ embed(roots.reload) }}</div>
                <a href="#" class="btn btn-primary btn-sm">Go to instance space</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
